<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Book List</h1>
    {{ result }}
    <ul>
        {% for book in books %}
            <li>{{ book.title}} {{ book.price }} -- {{ book.publisher.name }}</li>
        {% endfor %}
    </ul>
{#    <p>{{ books.title }}</p>#}
</body>
</html>