<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello World</h1>
<ul>
    {% for publisher in publishers %}
{#        <li><a href="{% url 'book_store:publisher_details' pk=publisher.id %}">{{ publisher.name }} - {{ publisher.email }}</a></li>#}
        <li><a href="{{publisher.get_absolute_url}}"> {{ publisher.name }} - {{ publisher.email }}</a></li>
    {% endfor %}
</ul>
</body>
</html>